.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  padding: 10px 20px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: white;

  z-index: 999;
}

.container h1 {
  cursor: pointer;
  transition: 0.2s;
}

.container h1:hover {
  color: var(--primary-color);
}

.menu {
  flex: 1;
  padding: 0 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  font-size: 14px;

  list-style: none;
}

.menu li {
  cursor: pointer;
  transition: 0.2s;
  color: var(--third-color);
}

.menu li:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}
