.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  padding: 10px 20px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: white;

  z-index: 999;
}

.container h1 {
  cursor: pointer;
  transition: 0.2s;
  margin: 0;
}

.container h1:hover {
  color: var(--primary-color);
}

.menu {
  flex: 1;
  padding: 0 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  font-size: 16px;
}

.menu li {
  cursor: pointer;
  transition: 0.2s;
  color: var(--third-color);
}

.mobileMenuContainer {
  display: none;
}

.menu,
.mobileMenu {
  list-style: none;
}

.menu li:hover,
.mobileMenu li:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;

  position: fixed;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: var(--primary-color);
}

.mobileMenu li {
  font-size: 40px;
  text-align: center;
  color: white;
}

@media (max-width: 890px) {
  .mobileMenuContainer {
    display: flex;
    align-items: center;
  }

  .menu {
    display: none;
  }

  .subscribe {
    display: none;
  }
}

.closeMenuIcon {
  color: white;

  position: absolute;
  right: 20px;
  top: 15px;
}

.closeMenuIcon,
.openMenuIcon {
  cursor: pointer;
  width: 24px;
}
