.container {
  width: 100%;

  box-sizing: border-box;
  padding: 40px 20px;

  border-radius: 20px;

  background: linear-gradient(
    0.15turn,
    var(--third-color),
    var(--fourth-color)
  );
  text-align: center;
  color: white;
}

.dividerLine {
  height: 1px;
  width: 200px;
  border-radius: 10px;
  background-color: white;
  margin: 30px auto;
  opacity: 0.8;
}

.container h2 span {
  color: var(--primary-color);
  font-weight: 700;
}

.advantagesBlock {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 1380px) and (min-width: 480px) {
  .advantagesBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}

@media (max-width: 742px) {
  .advantagesBlock {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.advantagesBlock span {
  font-weight: 300;
  font-size: 18px;
  flex: 1;
  padding: 0 20px;
}
