.container {
  padding: 80px 0;
  display: flex;
}

.container h2 {
  font-size: 60px;
  font-weight: 700;
}

.container p {
  margin-bottom: 40px;
}

.block {
  flex: 1;
}

.imageContainer {
  position: relative;
}

.image {
  object-fit: contain;
}
