.container {
  /* padding: 80px 0; */
  display: flex;
}

.contentContainer {
  padding: 80px 0;
}

.container p {
  margin-bottom: 40px;
}

.block {
  flex: 1;
}

.imageContainer {
  margin: 20px 0;
  position: relative;
}

.image {
  object-fit: contain;
}
