.header {
  line-height: 80px;
  font-size: 60px;
  font-weight: 300;
}

.header span {
  display: flex;
  align-items: center;
  color: var(--primary-color);
}

.header b {
  font-size: 80px;
  font-weight: 900;
}

.headerIcon {
  font-size: 16px;
  max-height: 60px;
  margin: 0 20px;
}

.welcomeBlock {
  padding-bottom: 0;
  /* height: 800px; */
  padding-top: 100px;
  margin: 0 auto;
  display: flex;
  gap: 80px;
  box-sizing: border-box;
  /* overflow: hidden; */
}

.description {
  margin: 40px 0;
  /* opacity: 0.7; */
}

.descriptionBlock {
  flex: 1;
}

.descriptionContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  padding-bottom: 80px;
}

.descriptionContent button {
  margin-bottom: 80px;
}

.imagesPreviewContent {
  flex: 1;
  display: flex;
  justify-content: center;

  min-height: 600px;
  max-width: 800px;
}

.imageContainer {
  position: relative;
  flex: 1;
  margin: 0 40px;
}

.image {
  /* max-width: 80%; */
  width: 100%;
  min-height: 400px;
  object-fit: cover;
  object-position: top center;
}

@media (max-width: 640px) {
  .header {
    font-size: 36px;
    line-height: 50px;
  }

  .header b {
    font-size: 46px;
  }
}

@media (max-width: 762px) {
  .imagesPreviewContent {
    display: none;
  }
}

@media (max-width: 1670px) {
  .welcomeBlock {
    flex-direction: column;
    gap: 20px;
  }
}
