.container {
  background: linear-gradient(0.15turn, var(--third-color), var(--fourth-color));

  box-sizing: border-box;
  padding: 40px 20px;
}

.contentContainer {
  display: flex;
  margin: 0 auto;
}

.container h1,
.container p {
  color: white;
}

.description {
  max-width: 500px;
  margin-top: 20px;
  font-weight: 100;
  font-size: 16px;
  /* opacity: 0.3; */
}

.mainInfo {
  flex: 1;
}

.columns {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.column {
  display: flex;
  flex-direction: column;

  color: white;
}

.column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.column ul li {
  font-weight: 100;
  font-size: 16px;

  margin-bottom: 10px;

  cursor: pointer;
}

.column ul li:hover {
  text-decoration: underline;
}

.column h3 {
  margin-bottom: 20px;
  font-weight: 300;
}
