.container {
  width: 100%;

  box-sizing: border-box;
  padding: 100px 20px;

  border-radius: 20px;

  background: linear-gradient(
    0.15turn,
    var(--third-color),
    var(--fourth-color)
  );
  color: white;
}

@media (max-width: 1024px) {
  .contentContainer {
    flex-direction: column;
  }
}

.block {
  flex: 1;
}

.contactButton {
  margin: 20px 0;
}

.templatesList {
  display: flex;
  gap: 10px;

  list-style: none;
  padding: 0;
  margin: 20px 0 60px 0;
}

.templatesList li {
  padding: 40px;
  border-radius: 5px;

  background: linear-gradient(
    0.15turn,
    var(--third-color),
    var(--primary-color)
  );
}

.images {
  position: relative;
  min-height: 400px;
}

.image {
  object-fit: contain;
}
