.container {
  padding-bottom: 40px;

  align-items: center;
  gap: 40px;

  width: 100%;
  padding-top: 100px;
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
}

.container > * {
  flex: 1;
}

.container p {
  margin-bottom: 40px;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image {
  object-fit: cover;
  border-radius: 20px;
}
