.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  padding: 10px 20px;
}

.menu {
  flex: 1;
  padding: 0 60px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 14px;

  list-style: none;
}

.menu li {
  cursor: pointer;
  transition: 0.2s;
  color: var(--third-color);
}

.menu li:hover {
  color: var(--secondary-color);
}
